body {
    background-color: black;
    color: white;
}

.game-button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.game-button img {
    height: 190px;
}

a {
    color: red;
    text-decoration: none;
    font-size: xx-large;
    
}
p {
    font-size: xx-large;
    color: white;
}